
html{
    height: 100vh;
}

/* Define as cores da CELESC */
:root {
  --cor-primaria: #0086c9;
  --cor-secundaria: #bfbfbf;
  --cor-texto: #333;
}

/* Define as fontes */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


input[type="submit"], button {
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover, button:hover {
  background-color: #006799;
}

/* Define o estilo do cabeçalho */
header {
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

header h1 {
  margin: 0;
}

/* Define o estilo da lista de aparelhos */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background-color: #fff;
  border: 2px solid var(--cor-secundaria);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li .nome {
  font-weight: bold;
}

ul li .gasto {
  color: var(--cor-primaria);
}

/* Define o estilo do rodapé */
footer {
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container{
    background:rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
    margin-top: 13%;
    margin-bottom: 13%;
    border-radius: 10px;
}
header, footer {
  position: fixed;
  width: 100%;
  padding: 25px;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

input[type="text"]{
    margin-bottom: 15px;
}

input[type=number],input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  
}

/* Estilo quando o input estiver em foco */
input[type=number]:focus {
  border-color: #ff6f00ce; /* altere para a cor desejada */
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}